<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Name Change</title>
</head>
<body>
    <h1>Employee Name Change</h1>
{#    <h4>Employee current first name: {{ employee_current_first_name }}</h4>#}
{#    <h4>Employee current last name: {{ employee_current_last_name }}</h4>#}

    <form method="post" action={% url 'employee_name_change' employee_user_personal_id%}>

        {% csrf_token %}
        <p>
            <h4>Employee current first name: {{ employee_current_first_name }}
            </h4>
        </p>

        <p>{{ form.employee_new_first_name.label }}
            {{ form.employee_new_first_name }}
{#            {{ form.employee_new_first_name.errors }}#}
        </p>

        <p>
            <h4>
        Employee current last name: {{ employee_current_last_name }}
            </h4>
        </p>

        <p>{{ form.employee_new_last_name.label }}
            {{ form.employee_new_last_name }}
{#            {{ form.employee_new_last_name.errors }}#}
       </p>

        <button type="submit">Update</button>

    </form>

    <a href="{% url 'employee_show_user_profile' employee_user_personal_id %}">Show user profile</a>
    <a href="{% url 'employees_show_all_users' %}">Back to All Users Page</a>


</body>
</html>